.img{
  height:300px;
  width: 4
}
@import URL(
  "https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap"
)
{margin: 0;
padding: 0
BOX-sizin:border-box;
font-family: 'Castoro', serif;
}
body{color: #eedfcc;
  font-size: 14px;
}
.img{width: 50%;
height: auto;
display: block;}
afaclities { background-color: burlywood;
  pa
.container{
  margin: 50px;
  width: 700px;
}